<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title> Test Page </title>
    <script src="https://marvinjs.chemicalize.com/v1/46a942384caa420590869342460c4b33/client-settings.js"></script>
    <script src="https://marvinjs.chemicalize.com/v1/client.js"></script>
    <script type="text/javascript">
</script>
</head>
<body>
    <h1>Index</h1>
    <a href="/">index</a> <br>
    <div id="marvin-test" style="width: 600px; height: 480px"></div>
    <button id="action-button" type="button">Click Me!</button>
    <button id="send_snippet" type="submit" onclick="send()">Submit</button>
    <div id="marvin-log"></div>
    <div id="marvin-logg"></div>
    <script src="msscript.js">
    </script>
</body>
</html>